Repository solve-ease/community-website, pull requests merged in 2024-07, with the labels that each got.

#5 Created basic folder structure
  src/css/style.css
  src/js/app.js
  src/pages/index.html
Labels: help wanted, core

#7 Update README.md
  README.md
Labels: documentation, help wanted

#9 CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation, help wanted

#10 LICENSE
  LICENSE
Labels: help wanted, kmv

#13 check for gh-pages deployment
  .github/workflows/deployment.yml
  src/css/style.css
  src/js/app.js
  src/pages/index.html
Labels: help wanted, core, ci

#12 Create SECURITY.md
  SECURITY.md
Labels: documentation, help wanted, security

#15 Update SECURITY.md
  SECURITY.md
Labels: documentation, help wanted, security

#19 Update README.md #18
  README.md
Labels: documentation, help wanted

#21 Updating README.md
  README.md
Labels: documentation, help wanted

#27 Update README.md
  README.md
Labels: documentation, help wanted

#30 [FEAT] Added Landing page with navbar and images
  netlify.toml
  src/assets/community-fullsize-min(2).png
  src/css/style.css
  src/js/app.js
  src/pages/index.html
Labels: help wanted, core

#32 Reorganize and Add Netlify Badge to README.md
  README.md
Labels: documentation, help wanted

#34 Added Login and contact page to studentZynergy website
  src/assets/img/contact-img.png
  src/assets/img/contact-us.png
  src/assets/img/login-img.png
  src/assets/img/login1-img.png
  src/css/contact.css
  src/css/login.css
  src/js/contact.js
  src/js/login.js
  src/pages/contact.html
  src/pages/login.html
Labels: help wanted, core

#33 added preloader for the website, using html, css and js file
  src/assets/vermins_vibes.otf
  src/css/style.css
  src/js/app.js
  src/pages/index.html
Labels: help wanted, core

#35 Code Quality Issues Fixed
  src/assets/fonts/dittem_datum.ttf
  src/assets/fonts/hyper_helix.ttf
  src/assets/fonts/hyper_helix_italic.ttf
  src/assets/fonts/vermins_vibes.otf
  src/assets/img/community-fullsize-min(2).png
  src/css/style.css
  src/js/app.js
  src/pages/contact.html
  src/pages/index.html
  src/pages/login.html
Labels: help wanted, core

#45 [FEAT] Addition of Terms& Cond, Privacy_Policy and projects,testimonails and about section
  src/css/privacy_policy.css
  src/css/register.css
  src/css/style.css
  src/css/terms_and_conditions.css
  src/js/app.js
  src/js/back_top.js
  src/js/navbar.js
  src/pages/index.html
  src/pages/privacy_policy.html
  src/pages/register.html
  src/pages/terms_and_conditions.html
Labels: help wanted, core

#49 Update README.md
  README.md
Labels: documentation, help wanted

#50 added footer in terms condition page and privacy policy, resolved all the issues such as h1, mailto, anchor tag, spelling mistake . Sorry for the extra commits, it was all due to that PR error
  src/assets/img/wave.png
  src/css/footer.css
  src/css/style.css
  src/js/footer.js
  src/pages/index.html
  src/pages/privacy_policy.html
  src/pages/terms_and_conditions.html
Labels: help wanted, core
