Repository solve-ease/community-website, pull requests merged in 2024-08, with the labels that each got.

#52 Completed routes in frontend and server setup for login and register functionality
  .gitignore
  client/src/assets/fonts/dittem_datum.ttf
  client/src/assets/fonts/hyper_helix.ttf
  client/src/assets/fonts/hyper_helix_italic.ttf
  client/src/assets/fonts/vermins_vibes.otf
  client/src/assets/img/community-fullsize-min(2).png
  client/src/assets/img/contact-img.png
  client/src/assets/img/login-img.png
  client/src/assets/img/login1-img.png
  client/src/assets/img/signup-img2.webp
  client/src/assets/img/wave.png
  client/src/css/alert.css
  client/src/css/contact.css
  client/src/css/footer.css
  client/src/css/login.css
  client/src/css/privacy_policy.css
  client/src/css/register.css
  client/src/css/style.css
  client/src/css/terms_and_conditions.css
  client/src/js/alert.js
  client/src/js/api.js
  client/src/js/app.js
  client/src/js/back_top.js
  client/src/js/contact.js
  client/src/js/footer.js
  client/src/js/login.js
  client/src/js/navbar.js
  client/src/js/particle_effect.js
  client/src/js/register.js
  client/src/pages/alert.html
  client/src/pages/contact.html
  client/src/pages/index.html
  client/src/pages/login.html
  client/src/pages/privacy_policy.html
  client/src/pages/register.html
  client/src/pages/terms_and_conditions.html
  config.js
  server/controllers/authController.js
  server/db/index.js
  server/package-lock.json
  server/package.json
  server/routes/auth.js
  server/server.js
  src/assets/img/contact-us.png
  src/js/app.js
  src/js/login.js
  src/js/register.js
  src/pages/index.html
Labels: bug, documentation, help wanted, core, tests, config

#53 Profile creation and user dashboard page.
  client/src/css/profile_creation.css
  client/src/css/profile_creation_tw.css
  client/src/css/style.css
  client/src/css/user_dashboard.css
  client/src/js/profile_creation.js
  client/src/js/profile_creation_tw.js
  client/src/js/user_dashboard..js
  client/src/pages/profile_creation.html
  client/src/pages/profile_creation_tw.html
  client/src/pages/user_dashboard.html
  netlify.toml
  server/db/index.js
  server/routes/auth.js
Labels: help wanted

#54 added deploy setup
  server/routes/auth.js
  server/vercel.json
Labels: help wanted, config

#56 Primsa ORM setup with supabase
  client/src/js/config.js
  server/.gitignore
  server/controllers/authController.js
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/server.js
Labels: help wanted, config

#57 Prisma ORM Schema migration
  server/prisma/migrations/20240811080320_init/migration.sql
  server/prisma/migrations/migration_lock.toml
Labels: help wanted

#58 package.json srcript udpate
  server/package.json
Labels: help wanted, config

#59 user Auth and DB schema updated
  client/src/js/api.js
  client/src/js/config.js
  client/src/js/profile_creation.js
  client/src/js/register.js
  client/src/js/user_dashboard..js
  client/src/js/user_dashboard.js
  client/src/pages/login.html
  client/src/pages/profile_creation.html
  client/src/pages/register.html
  client/src/pages/user_dashboard.html
  server/controllers/authController.js
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20240811103855_profile/migration.sql
  server/prisma/schema.prisma
  server/routes/auth.js
Labels: help wanted, config

#60 changed multer profile pic upload logic
  client/src/js/config.js
  client/src/pages/login.html
  server/controllers/authController.js
  server/package-lock.json
  server/package.json
  server/routes/auth.js
Labels: help wanted, config
